body {
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

h1,h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Century Gothic",Futura,Verdana,sans-serif;
    text-decoration: underline;
    letter-spacing: 0.2em;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
}

h2 {
    font-weight: normal;
    text-align: left;
}

li, p {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia,Garamond,serif;
}

a {
    color: #A4A400;
}

blockquote {
    background: #FFFFC8;
}

blockquote p {
    font-style: italic;
}

#w3c_xhtml_logo {
    height: 31px;
}

ul {
    list-style-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif)
}